<!DOCTYPE html>
<html>
  <head>
    <title>Vue on Rails 7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "application.vue" %>
    <%= javascript_include_tag "application", defer: true %>
    <%= javascript_include_tag "application.vue", defer: true %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "Vue on Rails 7", root_path, class: "navbar-brand" %>
        </div>
      </nav>
    </header>
    <main class="container-fluid py-4">
      <%= yield %>
    </main>
  </body>
</html>
